[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
bs4 = "*"
pandas = "*"
openpyxl = "*"
pyperclip = "*"

[dev-packages]
pyinstaller = "==4.1"
pywin32 = "*"

[requires]
python_version = "3.9"
